:root {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ADA8BE;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: right;
  padding: 1rem;
  border: 1px black solid;
  background-color: white;
  color: black;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  flex-grow: 1;
  overflow: visible;
}

.form-container {
  flex: 2;
  overflow-y: auto;
  max-height: calc(100vh - 182px);
  background-color: white;
  color: black;
  padding: 10px;
  margin: 0 10px;
  border-radius: 1rem;
}

.preview-container {
  flex: 1;
  background-color: white;
  color: black;
  padding: 10px;
  margin: 0 10px;
  border-radius: 1rem;
}

footer {
  font-size: x-small;
  text-align: center;
  padding: 1rem;
  border: 1px black solid;
}