.previewContainer {
    display: flex;
    flex: 1;
    background-color: white;
    color: black;
    padding: 10px;
    margin: 0 10px;
    border-radius: 1rem;
    gap: 1rem;
    font-size: 10px;
}


.personalInfo {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 30%;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-wrap: break-word;
    word-break: break-word;

}

.profile {
    height: 70%;
}

.details {
    height: 30%;
    align-content: end;
}

.categories {
    flex: 1;
    background-color: #fff;
    padding: 10px;
    overflow-wrap: break-word;
    word-break: break-word;
}

